@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #e77348;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Poppins, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

header {
  background-color: #058789;
  padding: 0 0 1.3rem;
  text-align: center;
  border-radius: 0 0 10px 10px;
  margin-bottom: 1.3rem;
}

.header-banner {
  display: none;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 1em 0;
  color: #fff;
  font-family: Unlock, cursive;
  font-size: 2.2rem;
}

nav {
  background-color: #d54b1a;
  border-radius: 10px;
  margin: 0 0.5rem;
}

nav ul {
  padding: 0 .5rem;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: block;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: .4rem .7rem;
  font-size: 1.125rem;
}

nav a:hover {
  color: #e3a72f;
  text-decoration: underline;
}

main {
  border-radius: 10px;
}

.small-img-banner {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0.8rem 1.3rem;
  padding: 1rem 0.5rem;
  background-color: #e05e2f;
  border-radius: 10px;
}

.banner-img {
  width: 30%;
}

h2 {
  text-align: center;
  font-family: Unlock, cursive;
  font-size: 1.65rem;
  color: #fff;
}

p {
  padding: 0 0.5rem;
  text-align: justify;
  color: #333;
}

.welcome {
  background-color: #e3a27f;
}

.welcome-banner {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.3rem;
}

.welcome-img {
  width: 46%;
}

.welcome,
.sweet,
.savoury,
.contact {
  border-radius: 10px;
  padding: 1.3rem;
  margin: 0 0.8rem 1.3rem;
}

.top-btn {
  padding: 0.3rem 0;
  margin: .3rem 0;
  text-align: center;
}

.top {
  color: #fff;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  border: solid 1px #fff;
  border-radius: 10px;
}

.top:hover {
  color: #e77348;
  border: solid 1px #e77348;
}

.sweet {
  background-color: #058789;
}

.sweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sweet-content {
  width: 100%;
  padding: 0 1rem 0 0.5rem;
}

.welcome h2,
.sweet h2,
.savoury h2,
.contact h2 {
  margin: 0 0 1.3rem;
}

.sweet p {

  margin: 0 0 1.3rem;
  text-align: center;

}

.savoury p {

  margin: 0 0 1.3rem;
  text-align: center;
}

.sweet-img {
  width: 100%;
  margin-bottom: 1.3rem;
}

.savoury {
  background-color: #e3a72f;
}

.savoury-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.savoury-content {
  padding: 0 0.5rem 0 1rem;
  width: 100%;
}

.fill-images {
  display: none;
  justify-content: center;
}

.fill-img {
  width: 30%;
}

.savoury-img {
  display: none;
  width: 50%;
}

.savoury-img2 {
  width: 100%;
  margin-bottom: 1.3rem;
}

.contact {
  background-color: #008b82;
  text-align: center;
}

.contact-info {
  margin-bottom: 1.3rem;
  text-align: left;
}

.contact h3 {
  margin-top: 0.5rem;
  font-family: Unlock, cursive;
  font-size: 1.3rem;
  color: #fff;
}

.contact dl {
  list-style: none;
  font-size: .8rem;
}

.contact dt {
  margin-bottom: .3rem;
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
}

.contact dd {
  color: #222;
  margin: 0 0 0.8rem;
}

.contact-info dd {
  padding-left: 1.5rem;
}

.address {
  margin: 0 0 0 0.3rem;
  display: inline-block;
  max-width: 1rem;
}

.telephone,
.cursor {
  margin: 0 0.3rem;
  display: inline-block;
  max-width: 1rem;
}

.email-link {
  text-decoration: underline;
  color: #83d6de;
}

.email-link:hover {
  color: #e3a72f;
}

.hours {
  background-color: #aaa;
  padding: 0.3rem 0 0.5rem;
  margin-bottom: 1.3rem;
  border-radius: 10px;
}

.hours dl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hours dt {
  margin-bottom: .5rem;
  padding-right: 0.5rem;
  display: inline-block;
  text-decoration: none;
}
.hours dd {
  display: inline-block;
  margin: 0;
}

.hours-break {

}

footer {
  padding: 2em;
  color: #fff;
}


@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1 {
    padding: 1.3rem 0 0;
    margin: 0 0 1.3rem;
  }

  h2 {
    font-size: 1.75rem;
  }
  p {
    margin: 0 0 1.3rem;
    line-height: 1.35em;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1 {
    margin: 0 0 1.4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -90%);
  }

  h2 {
    font-size: 2rem;
  }

  p {
    padding: 0 1rem;
    margin: 0 0 1.4rem;
  }

  header {
    position: relative;
    border-radius: 0;
    margin-bottom: 1.4rem;
  }

  .header-banner {
    display: block;
  }

  .small-img-banner {
    display: none;
  }

  .welcome-banner {
    margin-bottom: 1.4rem;
  }

  .welcome,
  .sweet,
  .savoury,
  .contact {
    margin-bottom: 1.4rem;
  }

  .welcome h2,
  sweet h2,
  savoury h2 {
    margin-bottom: 1.4rem;
  }

  .sweet-container,
  .savoury-container {
    flex-direction: row;
    align-items: center;
  }

  .sweet-container,
  .savoury-container,
  .contact-container {
    margin-bottom: 1.4rem;
  }

  .sweet-content,
  .savoury-content {
    width: 50%;
  }

  .sweet-img,
  .savoury-img {
    display: block;
    width: 50%;
  }

  .savoury-img2 {
    display: none;
  }

  .fill-images {
    display: flex;
    justify-content: space-around;

  }

  .contact h2 {
    text-align: left;
    margin-left: 1.4rem;
  }

  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .contact-info {
    width: 55%;
  }

  .hours {
    width: 45%;
    margin-bottom: 0;
  }

  .contact>.top-btn {
    text-align: left;
    margin-left: 1.4rem;
  }


}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    margin: 0 0 1.5rem;
    font-size: 3.2rem;
  }

  h2 {
    font-size: 3rem;
  }
  p {
    padding: 0 3.5rem;
    margin: 0 0 1.5rem;
  }

  header {
    margin-bottom: 1.5rem;
  }

  .welcome,
  .sweet,
  .savoury,
  .contact {
    margin-bottom: 1.5rem;
  }

  .welcome-banner {
    margin-bottom: 1.5rem;
  }


  .welcome h2,
  sweet h2,
  savoury h2 {
    margin-bottom: 1.5rem;
  }

  .sweet-content,
  .savoury-content {
    width: 65%;
  }

  .sweet-img,
  .savoury-img {
    width: 35%;
  }

  .contact h2 {
    margin-left: 1.5rem;
  }

  .contact-container {
    padding: 0 3rem;
  }

  .sweet-container,
  .savoury-container,
  .contact-container {
    margin-bottom: 1.5rem;
  }

  .contact-info dl {
    font-size: 0.95rem;
  }

  .contact>.top-btn {
    margin-left: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  .sweet-container,
  .savoury-container {
    align-items: stretch;
  }

  .contact-container {
    padding: 0 7rem;
  }

  .contact-info dl {
    font-size: 1.1rem;
  }

}
